<header>
<h1>{ Willy-Nilly }</h1>
<p data-toggle="modal" data-target="#aboutModal">What is Willy-Nilly?</p>
<a href="/logout" =>  &#x21e4 Logout</a>
</header>
<!-- start of div for video background -->

<div class="fullscreen-bg">
    <div class="overlay"></div>
    <video autoplay muted loop id="background-vid">
        <source src="assets/images/background-vid.mp4" type="video/mp4">
    </video>
</div>


<!-- start of div for submit button -->

<div class="option-container">
    <div class="cta inputBgOpaque">Do Something Fun!</div>
    <form class="searchForm hidden inputBgOpaque">
        <input type="search" id="location" class="inputBgOpaque eventLocation" name="location" value="Tucson, AZ"/>
        <select class="date">
            <option value="Today">Today</option>
            <option value="This Week">This Week</option>
            <option value="Next Week">Next Week</option>
            <option value="Next Month">Next Month</option>
            <option value="Future">Future</option>
        </select>
        <input type="button" class="findEvent"  value="Submit" />
        <div id="loader"></div>
        <a href="#" class="toggle toggle--events"></a>
    </form>
</div>

<!-- About Modal -->
<div id="aboutModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <p>What is Willy-Nilly?</p>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Willy-Nilly is a web app brought to life by the collaborative minds of Corey Richard, Wesley Hanson, Avram Adam and Brianna Herreras. It seeks to give you a more spontanous option to exploring a city. 
                <hr>
                Set your city and date you want to be spontanous and we will return random events happening in that time frame giving you the oppertunity to experience Willy-Nilly!  </p>
            
                <hr>
                
                <p id="cr" class="text-muted">Copyright 2018, Corey Richard, Wesley Hanson, Avram Adam, Brianna Herreras.</p>
            </div>
        </div>

    </div>
</div>

<!-- Event Modal -->
<div id="eventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2>Try one of these out!</h2>
                <br>
                <p id="other">...or don't, I'm not your boss</p>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            <div id="view">
            <div id="events">
            </div>
            </div>
        </div>
    </div>
</div>

<!-- Maps Modal -->
<div id="mapsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <h2>This is where you should go</h2>
            <button type="button" class="close" data-dismiss="modal2">&times;</button>
        </div>
            
            <div class="modal-body">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>

{{!-- loader Div --}}

