<link rel="stylesheet" href="/assets/stylesheets/css/login.css">
<!-- start of div for video background -->
<div class="fullscreen-bg">
    <div class="overlay"></div>
    <video autoplay muted loop id="background-vid">
        <source src="assets/images/background-vid.mp4" type="video/mp4">
    </video>
</div>

<header class="error">
    <h1>OOPS!</h1>
    <h2 class="error2">Looks like the information you have provided is already in use, please return to the login page and attempt to sign in again!</h2>
    <a href="/signin" class="btn btn-outline-light errorBtn" role="button">Go Back</a>
</header>




{{!-- <div class="card">
    <div class="card-body">
        <h4 class="card-title">ERROR ACCOUNT EXISTS</h4>
        <h6 class="card-subtitle mb-2 text-muted">Seems you've been here before</h6>
        <p class="card-text">
           Oops! Looks like the information you have provided is already in use, please return to the Login page and attempt to sign in!
        </p>
        <a href="/signin" class="card-link">Back to Try Again!</a>
    </div>
</div> --}}