{{!-- 
    <form id="signin" name="signin" method="post" action="signin">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign In" />
    </form> --}}
 



<link rel="stylesheet" href="/assets/stylesheets/css/login.css">
    <!-- start of div for video background -->
<div class="fullscreen-bg">
    <div class="overlay"></div>
    <video autoplay muted loop id="background-vid">
        <source src="assets/images/background-vid.mp4" type="video/mp4">
    </video>
</div>

    <!-- Webpage login -->
    <div class="cont">
        <form method="post" autocomplete="false" action="signin" name="login" onsubmit="return validateLogin()" class="loginForm sign-in" style="padding-top: 100px">
                <h2>Welcome back,</h2>
                <label>
                    <span class="loginEmail1">Email</span>
                    <input class="loginInput inputBgOpaque loginEmail"  autocomplete="false" type="email" name="email"/>
                </label>
                <label>
                    <span class="loginPassword1">Password</span>
                    <input class="loginInput inputBgOpaque loginPassword"  autocomplete="new-password" type="password" name="password"/>
                </label>
                <input type="submit" class="submit"></input>
        </form>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>New here?</h2>
                    <p>Sign up to experience Willy-Nilly!</p>
                </div>
                <div class="img__text m--in">
                    <h2>Already Registered?</h2>
                    <p>If you already has an account, just sign in.</p>
                </div>
                <div class="img__btn">
                    <span class="m--up">Sign Up</span>
                    <span class="m--in">Sign In</span>
                </div>
            </div>
            <form action="/signup" class="loginForm sign-up " autocomplete="false" name="signUp" onsubmit="return validateSignUp()" method="post" style="padding-top: 20px;">
                    <h2>Time to do something random,</h2>
                    <label>
                        <span class="firstName1">First Name</span>
                        <input class="loginInput inputBgOpaque firstName" autocomplete="false" type="text" name="firstname"/>
                    </label>
                    <label>
                        <span class="lastName1">Last Name</span>
                        <input class="loginInput inputBgOpaque lastName" autocomplete="false" type="text" name="lastname"/>
                    </label>
                    <label>
                        <span class="signupEmail1">Email</span>
                        <input class="loginInput inputBgOpaque signupEmail" autocomplete="false" type="email" name="email"/>
                    </label>
                    <label>
                        <span class="signupPassword1">Password</span>
                        <input class="loginInput inputBgOpaque signupPassword" autocomplete="new-password" type="password"  name="password"/>
                    </label>
                    <input type="submit" class="submit"></button>
            </form>
        </div>
    </div>