html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loginInput, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.cont {
  overflow: hidden;
  position: relative;
  top: 75px;
  width: 900px;
  height: 560px;
  margin: 0 auto 100px;
  background: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.418);
}

.loginForm {
  position: relative;
  width: 640px;
  height: 100%;
  transition: transform 1.2s ease-in-out;
  padding: 50px 30px 0;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  transition: transform 1.2s ease-in-out;
}

.cont.s--signup .sub-cont {
  transform: translate3d(-640px, 0, 0);
}

.submit {
  display: block;
  margin: 50px 160px !important;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}

.img:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url("../../images/event.jpg");
  background-size: cover;
  transition: transform 1.2s ease-in-out;
}

.img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cont.s--signup .img:before {
  transform: translate3d(640px, 0, 0);
}

.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: transform 1.2s ease-in-out;
}

.img__text h2 {
  margin-bottom: 10px;
  font-weight: normal;
}

.img__text p {
  font-size: 14px;
  line-height: 1.5;
}

.cont.s--signup .img__text.m--up {
  transform: translateX(520px);
}

.img__text.m--in {
  transform: translateX(-520px);
}

.cont.s--signup .img__text.m--in {
  transform: translateX(0);
}

.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}

.img__btn:after {
  content: '';
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}

.img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
}

.img__btn span.m--in {
  transform: translateY(-72px);
}

.cont.s--signup .img__btn span.m--in {
  transform: translateY(0);
}

.cont.s--signup .img__btn span.m--up {
  transform: translateY(72px);
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}

label span {
  font-size: 12px;
  color: #cfcfcf;
  text-transform: uppercase;
}

.loginInput {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.inputBgOpaque:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px white inset;
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #d4af7a;
  text-transform: uppercase;
}

.fb-btn {
  border: 2px solid #d3dae9;
  color: #8fa1c7;
}

.fb-btn span {
  font-weight: bold;
  color: #455a81;
}

.sign-in {
  transition-timing-function: ease-out;
}

.cont.s--signup .sign-in {
  transition-timing-function: ease-in-out;
  transition-duration: 1.2s;
  transform: translate3d(640px, 0, 0);
}

.sign-up {
  transform: translate3d(-900px, 0, 0);
  padding-top: -25px;
}

.cont.s--signup .sign-up {
  transform: translate3d(0, 0, 0);
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}

.icon-link img {
  width: 100%;
  vertical-align: top;
}

.icon-link--twitter {
  left: auto;
  right: 5px;
}

@media only screen and (min-width: 200px) {
  header {
    margin-top: 190px;
  }
  header h1 {
    font-size: 3.5em;
  }
  header p {
    bottom: -30px;
    left: 20px;
  }
  .fullscreen-bg {
    background: url("../../images/event.jpg") center center/cover no-repeat;
  }
  .fullscreen-bg #background-vid {
    display: none;
  }
  input {
    padding: 1rem !important;
    margin: 0 !important;
    flex: 100%;
  }
}

@media only screen and (min-width: 599px) {
  .fullscreen-bg #background-vid {
    display: block;
  }
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  position: relative;
}

.option-container {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.418);
  width: 30rem;
  margin-top: auto;
  top: 300px;
  position: absolute;
}

.inputBgOpaque:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px white inset;
}

.cta {
  background: #3399CC;
  border-radius: 3px 3px 0px 0px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 2rem;
  line-height: 1;
  padding: 1.75rem 1rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.searchForm {
  background: #CDB99C;
  display: flex;
  flex-flow: row;
  padding: 1rem;
  margin: 0;
  position: relative;
  top: 1px;
  min-width: 50px;
  border-radius: 0px 0px 3px 3px;
}

.searchForm .date {
  border: none;
  font-size: 1rem;
  background-color: white;
  width: auto;
  height: 3.3rem;
  border-radius: 0 2px 0 0 !important;
  outline: #3399CC;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  margin-left: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.418);
}

.searchForm input {
  padding: .75rem;
  margin: 0 2px 0 -4px;
}

.searchForm input[type="button"] {
  background: linear-gradient(#47a3d1, #3399cc);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.418);
  cursor: pointer;
  border-radius: 3px;
  color: white;
  border: none;
  width: 50%;
  font-size: 1rem;
  margin: auto;
  padding: 0 4rem;
  transition: all .25s ease-in-out;
  position: absolute;
  right: 10px;
  top: 80px;
}

.searchForm input[type="button"]:hover {
  background: linear-gradient(#4ba5d2, #379bcd);
}

.searchForm #location {
  border: none;
  width: 326px !important;
  font-size: 1rem;
  outline: #3399CC;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.418);
}

.hidden {
  display: none;
}

header {
  margin-top: 100px;
  position: relative;
}

header h1 {
  color: #3399CC;
  font-size: 8em;
  margin: auto;
  width: 100%;
  padding: 10px;
  text-shadow: 4px 4px 16px black;
}

header p {
  cursor: pointer;
  font-size: 1.2em;
  text-shadow: 4px 4px 16px black;
  color: #3399CC;
  position: absolute;
  bottom: -15px;
  left: 100px;
}

header a {
  cursor: pointer;
  font-size: 1.2em;
  text-shadow: 4px 4px 16px black;
  color: #3399CC;
  position: absolute;
  top: 0px;
  right: 20px;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg #background-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fullscreen-bg .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: black;
  opacity: 0.5;
}

#aboutModal {
  position: fixed;
  top: 25%;
  left: 0;
}

#aboutModal .modal-content .modal-header {
  background-color: #3399CC;
}

#aboutModal .modal-content .modal-header p {
  color: black;
  font-size: 2em;
  margin: auto;
  width: 100%;
  padding: 10px;
  text-shadow: 2px 2px 8px #EEEEEE;
}

#aboutModal .modal-content .modal-body {
  background-color: #CDB99C;
}

#aboutModal .modal-content .modal-body #cr {
  font-size: 1em;
}

#eventModal .modal-content .modal-header {
  background-color: #3399CC;
}

#eventModal .modal-content .modal-header p {
  color: black;
  font-size: 2em;
  margin: auto;
  width: 100%;
  padding: 10px;
  text-shadow: 2px 2px 8px #EEEEEE;
}

#eventModal .modal-content .modal-body {
  background-color: #CDB99C;
}

#eventModal .modal-content .modal-body #cr {
  font-size: .5em;
}

#loginModal .modal-content .modal-header {
  background-color: #3399CC;
}

#loginModal .modal-content .modal-header p {
  color: black;
  font-size: 2em;
  margin: auto;
  width: 100%;
  padding: 10px;
  text-shadow: 2px 2px 8px #EEEEEE;
}

#loginModal .modal-content .modal-body {
  background-color: #CDB99C;
}

#loginModal .modal-content .modal-body #cr {
  font-size: .5em;
}

*, *:before,
*:after {
  box-sizing: border-box;
}

.toggle {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 10px;
  right: 150px;
  width: 150px;
  height: 50px;
  color: white;
  outline: 0;
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid #546E7A;
  background-color: #263238;
  transition: all 500ms;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.418);
}

.toggle:active {
  background-color: #1c2429;
}

.toggle:hover:not(.toggle--moving):after {
  background-color: #455A64;
}

.toggle:after {
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  width: calc(50% - 4px);
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
  background-color: #37474F;
  border: 2px solid;
  transition: all 500ms;
}

.toggle--food:after {
  content: 'Food/Bars';
  border-radius: 5px;
  color: #3399CC;
}

.toggle--events:after {
  content: 'Events';
  border-radius: 5px;
  transform: translate(100%, 0);
  color: #CDB99C;
}

.toggle--moving {
  background-color: #1c2429;
}

.toggle--moving:after {
  color: transparent;
  border-color: #435862;
  background-color: #222c31;
  transition: color 0s, transform 500ms, border-radius 500ms,           background-color 500ms;
}

@media only screen and (min-width: 200px) {
  header {
    margin-top: 190px;
  }
  header h1 {
    font-size: 3.5em;
  }
  header p {
    bottom: -30px;
    left: 20px;
  }
  .fullscreen-bg {
    background: url("../../images/event.jpg") center center/cover no-repeat;
  }
  .fullscreen-bg #background-vid {
    display: none;
  }
  input {
    padding: 1rem !important;
    margin: 0 !important;
    flex: 100%;
  }
  .option-container {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.418);
    width: 21rem;
    margin-top: auto;
    top: 300px;
    position: absolute;
  }
  .searchForm #location {
    width: 190px !important;
  }
  .toggle {
    width: 150px;
    right: 90px;
  }
}

@media only screen and (min-width: 599px) {
  header {
    margin-top: 180px;
  }
  header h1 {
    font-size: 5em;
  }
  header p {
    bottom: -15px;
    left: 60px;
  }
  .fullscreen-bg {
    background: url("../../images/event.jpg") center center/cover no-repeat;
  }
  .fullscreen-bg #background-vid {
    display: none;
  }
  .cta {
    line-height: 1.4;
    padding: 1.25rem 1rem;
  }
  input {
    padding: 1rem !important;
    margin: 0 !important;
    flex: 100%;
  }
  .option-container {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.418);
    width: 30rem;
    margin-top: auto;
    top: 300px;
    position: absolute;
  }
  .searchForm #location {
    width: 330px !important;
  }
  .toggle {
    width: 150px;
    right: 150px;
  }
}

@media only screen and (min-width: 600px) {
  header {
    margin-top: 150px;
  }
  header h1 {
    font-size: 6em;
  }
  header p {
    bottom: -15px;
    left: 60px;
  }
  .fullscreen-bg #background-vid {
    display: block;
    height: 200%;
    top: -50%;
    width: 200%;
    left: -50%;
  }
  .option-container {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.418);
    width: 30rem;
    margin-top: auto;
    top: 300px;
    position: absolute;
  }
}

@media only screen and (min-width: 900px) {
  header {
    margin-top: 100px;
  }
  header h1 {
    color: #3399CC;
    font-size: 8em;
    margin: auto;
    width: 100%;
    padding: 10px;
    text-shadow: 2px 2px 8px black;
  }
  header p {
    bottom: -15px;
    left: 100px;
  }
  .option-container {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.418);
    width: 30rem;
    margin-top: auto;
    top: 300px;
    position: absolute;
  }
}

@media only screen and (min-width: 1200px) {
  header {
    margin-top: 100px;
  }
  header h1 {
    color: #3399CC;
    font-size: 8em;
    margin: auto;
    width: 100%;
    padding: 10px;
    text-shadow: 2px 2px 8px black;
  }
  .option-container {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.418);
    width: 30rem;
    margin-top: auto;
    top: 300px;
    position: absolute;
  }
}
